{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

<div class="construct-overview-wrapper">
  <table id="construct-overview">
    <thead>
      <tr>
        <th>Construct identifier</th>
        <th>Construct iabel</th>
        <th>Definition</th>
        <th>Instructions</th>
      </tr>
    </thead>
    <tbody>
    {{ range $.Site.Data.data }}
     <tr>
      <td>{{ .dct.id }}</td>
      <td>{{ .dct.label }}</td>
      <td>{{ .dct.definition.definition }}</td>
      <td>
        <a href="#{{ .dct.id }}_measure_dev" rel="modal:open">Developing measurement instruments</a>,
        <a href="#{{ .dct.id }}_measure_code" rel="modal:open">coding measurement instruments</a>,
        <a href="#{{ .dct.id }}_manipulate_dev" rel="modal:open">developing manipulations</a>,
        <a href="#{{ .dct.id }}_manipulate_code" rel="modal:open">coding manipulations</a>,
        <a href="#{{ .dct.id }}_aspect_dev" rel="modal:open">eliciting aspects</a>,
        <a href="#{{ .dct.id }}_aspect_code" rel="modal:open">coding aspects</a>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<!-- Start of modal DIVs with more info -->
{{ range $.Site.Data.data }}
  <div id="{{ .dct.id }}_measure_dev" class="modal">
    <p>{{ .dct.measure_dev.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div id="{{ .dct.id }}_measure_code" class="modal">
    <p>{{ .dct.measure_code.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div id="{{ .dct.id }}_manipulate_dev" class="modal">
    <p>{{ .dct.manipulation_dev.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div id="{{ .dct.id }}_manipulate_code" class="modal">
    <p>{{ .dct.manipulation_code.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div id="{{ .dct.id }}_aspect_dev" class="modal">
    <p>{{ .dct.aspect_dev.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div id="{{ .dct.id }}_aspect_code" class="modal">
    <p>{{ .dct.aspect_code.instruction }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
{{ end }}
<!-- End of modal DIVs with more info -->

<!-- Start of footer -->
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
<!-- End of footer -->

<script>
  $(document).ready( function () {
      $('#construct-overview').DataTable();
  } );
</script>
